.flex-demo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    flex-direction: row;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-items: center; */
    align-items: stretch;
    max-height: 100%;
    /* flex-direction: column; */
}